.content-grid {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  gap: 1rem;
  padding-bottom: 2rem;

}

.content-cell {
  // width: 100%;
  order: 1;
  // height: 100%;
  // margin: 0px;
  // padding: 0px;
}

.content-cell:nth-last-child(2) {
  order: 2;
  // padding: 10px;
  // background-color: red;
}


.content-grid-2 {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  gap: 1rem;
  padding-bottom: 2rem;

}


.content-cell-2 {
  order: 2;
}




@mixin myOrder {
  @for $i from 2 through 6 {
    &:nth-child(#{$i}) {
      order: 1;
      // background-color: blue;
      // padding: 10px;
    }
  }
}

.content-cell-2 {
  // order: 1;
  // background-color: blue;
  // padding: 10px;
  @include myOrder()
}
