<div class="background p-5">


  <div class="main-container-small content p-5">
    <form *ngIf="form" [formGroup]="form">

      <div class="navigationPath">2. Equipment</div>
      <h1 class="pageTitle">Extras</h1>



      <!-- Tires and rims -->
      <label class="sectionTitle">Tires and rims</label>
      <hr class="my-0 pb-4">

      <div class="content-grid">

        <div class="content-cell" *ngFor="let wheelsFeature of wheelsFeatureCheckboxes">
          <label class="checkbox-container">
            <input type="checkbox" [id]="wheelsFeature" [formControlName]="wheelsFeature">
            <label class="checkbox-text small-text" [for]="wheelsFeature">{{checkboxText(wheelsFeature)}}</label>
          </label>
        </div>

        <div class="content-cell">
          <label class="inputLabel px-0">Breakdown service</label>
          <div class="col">
            <select class="form-select" formControlName="breakdownKit">
              <option [ngValue]="null">Please select</option>
              <option *ngFor="let breakdownKit of breakdownKitOptions" [ngValue]="breakdownKit">
                {{breakdownKit}}
              </option>
            </select>
          </div>
        </div>

      </div>


      <!-- Special features -->
      <label class="sectionTitle">Special features</label>
      <hr class="my-0 pb-4">

      <div class="content-grid-2">
        <div class="content-cell-2">
          <label class="inputLabel px-0">Trailer coupling</label>
          <select class="form-select" formControlName="trailerCoupling">
            <option [ngValue]="null">Please select</option>
            <option *ngFor="let trailerCoupling of trailerCouplingOptions" [ngValue]="trailerCoupling">
              {{trailerCoupling}}
            </option>
          </select>
        </div>

        <div class="content-cell-2" *ngFor="let extraSpecialFeature of extraSpecialFeatureCheckboxes">
          <label class="checkbox-container">
            <input type="checkbox" [id]="extraSpecialFeature" [formControlName]="extraSpecialFeature">
            <label class="checkbox-text small-text"
              [for]="extraSpecialFeature">{{checkboxText(extraSpecialFeature)}}</label>
          </label>
        </div>
      </div>


    </form>
    <div class="grid-container pb-2 pt-4">
      <button type="button" class="btn btn-danger" style="width: 100%;" (click)="goBack()">back to menu</button>
      <button type="button" class="btn btn-success" style="width: 100%;" (click)="goForward()">next</button>
    </div>



  </div>
</div>

